In [1]:
import numpy as numpy
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
def read_info():
    species = ['Cattle', 'Salmon', 'Pig', 'Chicken']
    all = []
    for s in species:
        path = f'data/data_info/{s.lower()}_colnames.txt'
        df = pd.read_csv(path, sep='\t', header=None)
        df.columns = ['track_name']
        df['type'] = [i.split('_')[0].replace('ChIP-', '') for i in df['track_name']]
        df['species'] = s 
        all.append(df)
    return pd.concat(all)

In [3]:
a = read_info()

In [4]:
a.loc[a['type'].isin(['DNaseSeq', 'ATAC']), 'type'] = 'ATAC/DNaseSeq'
a.loc[a['type'].isin(['CTCF', 'DMC1']), 'type'] = 'CTCF/DMC1'

In [5]:
res = pd.crosstab(a['type'], a['species'])

In [6]:
res.to_csv('out_tables/ChIP_data_table.csv', index=True)

In [7]:
res

species        Cattle  Chicken  Pig  Salmon
type
ATAC/DNaseSeq      15       17   16      48
CTCF/DMC1          16       16    0      56
H3K27ac            16       16   16      47
H3K27me3           16       16   16      47
H3K36me3            0        0    0       9
H3K4me1            16       16   16      47
H3K4me3            16       16   16      47

In [8]:
res.sum(0)

species
Cattle      95
Chicken     97
Pig         80
Salmon     301
dtype: int64